    @import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
    body {
		padding: 60px 0px;
		background-color: rgb(220, 220, 220);
	}

    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > div {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
		width: 70%;
	}
	.event-list > div .title{
		font-size: 30pt;
	}

	.event-list>div .starcast{
		text-align: -webkit-right;
	}
  .credits{
    background-color: rgb(245, 245, 245);
    color: rgb(255, 255, 255);
		text-transform: uppercase;
    font-size: 21pt !important;
  }
  .director{
    padding-left: 5px;
    width: 50%;
    max-height: 40px;
    float: left;
    background-color: rgb(197, 44, 102);
  } 
  .producer{
    padding-left: 5px;
        width: 50%;
    max-height: 40px;
    float: right;
    background-color: rgb(165, 82, 167);
  }
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
    padding-left: 10px;
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list .desc {
		font-size: 8pt;
		font-weight: 300;
		margin: 0px;
	}
	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 150px;
			padding: 0px;
		}
		.event-list  .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list .info {
			position: relative;
			height: 110px;
			text-align: left;
		}	
		.event-list > .info > .desc {
			padding: 0px 10px;
		}
	}

	.pd10{
		padding: 10px !important;
	}